---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import OurOffering from '../components/OurOffering.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
	<Header />
	<main>
		<Hero 
			redirectUrl="/reuniao-sessao-estrategica"
			inputPlaceholder2="Por favor, digite seu nome"
			errorMessage="Por favor, insira um email válido."
		/>
		<Features lang="pt" />
		<OurOffering lang="pt" />
	</main>
	<Footer lang="pt" />
</Layout>
