---
---

<section class="bg-white py-12 md:py-20 overflow-hidden">
  <div class="relative w-full flex flex-col gap-6 md:gap-10 overflow-x-hidden group">
    <!-- Left Gradient Fade -->
    <div class="absolute left-0 top-0 bottom-0 w-32 bg-gradient-to-r from-white to-transparent z-10 pointer-events-none"></div>
    <!-- Right Gradient Fade -->
    <div class="absolute right-0 top-0 bottom-0 w-32 bg-gradient-to-l from-white to-transparent z-10 pointer-events-none"></div>
    
    <!-- Row 1 -->
    <div class="animate-marquee flex items-center min-w-max group-hover:pause">
      <img src="https://kingkong.co/wp-content/uploads/2021/01/featured-in-row-1.svg" class="h-8 md:h-[53px] mx-6" alt="Featured In" />
      <img src="https://kingkong.co/wp-content/uploads/2021/01/featured-in-row-1.svg" class="h-8 md:h-[53px] mx-6" alt="Featured In" />
    </div>

    <!-- Row 2 -->
    <div class="animate-marquee-reverse flex items-center min-w-max group-hover:pause">
      <img src="https://kingkong.co/wp-content/uploads/2021/01/featured-in-row-2.svg" class="h-8 md:h-[55px] mx-6" alt="Featured In" />
      <img src="https://kingkong.co/wp-content/uploads/2021/01/featured-in-row-2.svg" class="h-8 md:h-[55px] mx-6" alt="Featured In" />
    </div>

    <!-- Row 3 -->
    <div class="animate-marquee flex items-center min-w-max group-hover:pause">
      <img src="https://kingkong.co/wp-content/uploads/2021/01/featured-in-row-3.svg" class="h-8 md:h-[53px] mx-6" alt="Featured In" />
      <img src="https://kingkong.co/wp-content/uploads/2021/01/featured-in-row-3.svg" class="h-8 md:h-[53px] mx-6" alt="Featured In" />
    </div>
  </div>
</section>
