---
---

<section class="bg-white py-10 md:py-16 overflow-hidden">
  <div class="relative w-full flex overflow-x-hidden group">
    <!-- Left Gradient Fade -->
    <div class="absolute left-0 top-0 bottom-0 w-32 bg-gradient-to-r from-white to-transparent z-10 pointer-events-none"></div>
    <!-- Right Gradient Fade -->
    <div class="absolute right-0 top-0 bottom-0 w-32 bg-gradient-to-l from-white to-transparent z-10 pointer-events-none"></div>
    
    <div class="animate-marquee flex items-center min-w-max group-hover:pause">
      <img src="https://kingkong.co/wp-content/uploads/2020/12/awards-row.svg" class="h-16 md:h-[120px] mx-8" alt="Awards" />
      <img src="https://kingkong.co/wp-content/uploads/2020/12/awards-row.svg" class="h-16 md:h-[120px] mx-8" alt="Awards" />
    </div>
  </div>
</section>
